.submenu-title-container{

  direction: flex;
  flex-direction:column;
  width: 1200px;
  margin-right: 20px;
  margin-left: 20px;

  }

    .submenu-title-container > img{

      min-width:96%;
      height: 400px;

      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 20px;


      }


  .submenu-title > h2 {

  text-align: center;

  }

  hr{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

