<div class="menu-title-container">

  <h1 class="menu-title">{{h1Content}}</h1>

  <div class="categories">
  <div class="categories-list">
      <div class="categories-title">
        <p>{{pContent}}</p>

       <select name="Products Categories" >
          <option value="Products Categories">Categoria</option>
          <option value="Products Categories">Categoria</option>
          <option value="Products Categories">Categoria</option>
          <option value="Products Categories">Categoria</option>
        </select>


  </div>

  <div class="shop-now">

    <p><a href="">Shopping</a></p>

    </div>


</div>

