/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  font-style: inherit;
  color:rgb(255, 255, 255);
  background-color: #1C1C1C;
  align-content: center;





}

body{
margin-right: 40px;
margin-left: 40px;
display:flex;
justify-content: center;
}
a{
  text-decoration: none;
}
